@import "/css/global.css";
@import "/components/header.css";
@import "/components/card.css";
@import "/components/button.css";
@import "/components/navigation.css";
@import "/components/form.css";

:root {
  --head-nav-color: #696969;
  --border-color: #696969;
  --bg-light-grey: #cccccc;
  --bg-white: #ffffff;
  --marked-bm-color: #ff9901;
  --bm-size: 45px;
  --gap: 2rem;
}

@media screen and (min-width: 900px) {
  .main-area {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-content: flex-start;
    row-gap: var(--gap);
    padding-right: calc(2 * var(--gap));
    padding-left: calc(2 * var(--gap));
  }
  .question-card {
    margin: auto;
    width: 45%;
  }
}

@media screen and (min-width: 1200px) {
  body {
    right: 0;
    left: 0;
    margin: auto;
    width: 60vw;
  }

  .navbar {
    width: 60vw;
    margin: auto;
  }
}
