* {
  box-sizing: border-box;
  font-family: "Trebuchet MS", "Lucida Sans Unicode", "Lucida Grande",
    "Lucida Sans", Arial, sans-serif;
}

body {
  height: 95vh;
  margin: 0;
  position: relative;
}

header,
.navbar {
  background-color: var(--head-nav-color);
}
