.card-area {
  background-color: var(--bg-white);
  padding-top: var(--gap);
  padding-bottom: calc(3 * var(--gap));
  min-height: 100vh;
}

h2 {
  display: inline-block;
  font-size: 1.5em;
  width: 80%;
}

h3 {
  font-size: 1.5em;
  background-color: #000000;
  color: white;
  padding: 5px;
}

.question-card {
  border: 3px solid var(--border-color);
  margin: 30px 10%;
  padding-top: 2%;
  position: relative;
  text-align: center;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.categories li {
  background-color: var(--bg-light-grey);
  margin-right: 5px;
  padding: 3px;
}

.categories {
  list-style: none;
  padding-left: 5%;
  display: flex;
  flex-wrap: wrap;
  justify-content: flex-start;
  align-self: flex-start;
  gap: 0.5rem;
}
